@font-face {
  font-family: 'hotelicon';
  src:
    url('fonts/hotelicon.ttf?f1qaph') format('truetype'),
    url('fonts/hotelicon.woff?f1qaph') format('woff'),
    url('fonts/hotelicon.svg?f1qaph#hotelicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.hotelicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hotelicon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-gift:before {
  content: "\e92e";
}
.icon-email:before {
  content: "\e92d";
}
.icon-mir:before {
  content: "\e92b";
}
.icon-close:before {
  content: "\e92c";
}
.icon-ekskurs:before {
  content: "\e929";
}
.icon-infrastructure:before {
  content: "\e92a";
}
.icon-slippers:before {
  content: "\e90f";
}
.icon-coffee:before {
  content: "\e91a";
}
.icon-icebox:before {
  content: "\e91b";
}
.icon-teapot:before {
  content: "\e91c";
}
.icon-desk:before {
  content: "\e91d";
}
.icon-hygiene:before {
  content: "\e91e";
}
.icon-terrace:before {
  content: "\e91f";
}
.icon-parking:before {
  content: "\e921";
}
.icon-tv:before {
  content: "\e922";
}
.icon-iron:before {
  content: "\e923";
}
.icon-towel:before {
  content: "\e924";
}
.icon-city-view:before {
  content: "\e925";
}
.icon-sea-view:before {
  content: "\e926";
}
.icon-view:before {
  content: "\e927";
}
.icon-balcony2:before {
  content: "\e928";
}
.icon-bath:before {
  content: "\e904";
}
.icon-conditioner:before {
  content: "\e905";
}
.icon-smile-face:before {
  content: "\e906";
}
.icon-bed:before {
  content: "\e907";
}
.icon-door:before {
  content: "\e908";
}
.icon-restaurant:before {
  content: "\e909";
}
.icon-balcony:before {
  content: "\e90a";
}
.icon-wi-fi:before {
  content: "\e90b";
}
.icon-square:before {
  content: "\e90c";
}
.icon-hairdryer:before {
  content: "\e90d";
}
.icon-guests:before {
  content: "\e90e";
}

.icon-arrow-left:before {
  content: "\e903";
}
.hotelicon-medal:before {
  content: "\e920";
  color: #ff9f11;
}
.hotelicon-lightning:before {
  content: "\e919";
  color: #ff9f11;
}
.hotelicon-clock-icon:before {
  content: "\e900";
}
.hotelicon-mark-list:before {
  content: "\e901";
}
.hotelicon-mark-person:before {
  content: "\e902";
}
.hotelicon-mail:before {
  content: "\e910";
}
.hotelicon-mark:before {
  content: "\e911";
}
.hotelicon-mark-round:before {
  content: "\e912";
}
.hotelicon-phone:before {
  content: "\e913";
}
.hotelicon-star:before {
  content: "\e914";
}
.hotelicon-thumb-up:before {
  content: "\e915";
}
.hotelicon-cup:before {
  content: "\e916";
}
.hotelicon-cup-filled:before {
  content: "\e917";
}
.hotelicon-geo:before {
  content: "\e918";
}
